# Created by .gitignore support plugin (hsz.mobi)

### OpenCart template
.htaccess
/config.php
admin/config.php

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/
